body {
  font-family: "Cinzel Decorative", serif;

  background-image: url(bg_image.jpg);
}

h1 {
  text-align: center;
  font-weight: 900;
  margin-top: 2rem;
}

/*..........Buttons.............*/

#again-btn {
  position: absolute;
  left: 10%;
  margin-top: 1rem;
  background-color: #6c3428;
  color: white;
}

#again-btn:hover {
  background-color: #884a39;
  color: wheat;
}

#again-btn:active {
  box-shadow: 2px 2px 5px #fc894d;
  background-color: #884a39;
  color: bisque;
}

#check-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 1rem;
  background-color: #6c3428;
  color: white;
}

#check-btn:hover {
  background-color: #884a39;
  color: wheat;
}

#check-btn:active {
  box-shadow: 2px 2px 5px #fc894d;
  background-color: #884a39;
  color: bisque;
}

.guess-instruction {
  position: absolute;
  right: 10%;
  font-weight: 700;
  margin-top: 1rem;
}

header {
  height: 15rem;
}

.secret-num {
  position: absolute;
  background: #ead7bb;
  color: #333;
  font-size: 5rem;
  width: 10rem;
  height: 8rem;
  text-align: center;
  padding: 0rem 0rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200%);
  border-radius: 50%;
  transition: border-radius 0.5s linear;
}

main {
  height: 60vh;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.guess-num {
  background: none;
  position: absolute;
  top: 50px;
  left: 300px;
  border: 4px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 20rem;
  height: 10rem;
  text-align: center;
  display: block;
}

.left {
  width: 52rem;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: left;
  height: 100%;
}

.right {
  width: 52rem;
  font-size: 2rem;
  height: 100%;
  position: relative;
}

.score-num {
  position: absolute;
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  top: 40%;
  left: 20%;
}

.highscore-num {
  position: absolute;
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  top: 50%;
  left: 20%;
}

.message {
  position: absolute;
  left: 20%;
  top: 10%;
  color: #333;
  font-weight: 600;
}

@media (max-width: 910px) {
  .guess-num {
    width: 10rem;
    left: 80px;
  }

  section > p {
    color: red;
  }
}

@media (max-width: 1200px) {
  .guess-num {
    left: 200px;
  }
}

@media (max-width: 850px) {
  .guess-num {
    left: 150px;
  }
}
